.contact-details-input {
  width: 28rem;
  height: 4rem;
  border-radius: 10px;
  border: 1px solid transparent;
  padding-left: 4.8rem;
  background-repeat: no-repeat;
  background-size: 2rem auto;
  background-position: 1.5rem 1rem;
  @include shadow;
  outline: none;

  &:focus, &.ng-invalid.ng-touched {
    @include shadow-min;
    background-position: 1.6rem 1.1rem;
  }

  &:focus {
    border-color: $blue-highlight-color;
    background-position: 1.6rem 1.1rem;
  }
  
  &--username {
    background-image: url(/assets/icons/username.svg);
  }

  &--password {
    background-image: url(/assets/icons/password.svg);
  }

  &.ng-invalid.ng-touched {
    border-color: #ff5930;
  }
}
