<div class="profile">
    <div class="profile__header">
        <div class="profile__profile-img-container">
            <img class="profile__profile-img" src="{{profile?.profileImage}}" alt="">
            <div class="profile__profile-img-overlay" *ngIf="owner" (click)="profileImgInput.click()">
                <input type="file" accept="image/*" style="visibility: hidden;" (change)="onProfileImgInputChange($event)"#profileImgInput>
            </div>
        </div>
        <div class="profile__details-container">
            <div class="profile__name-container">
                <h2>{{profile?.name | titlecase}}</h2>
            </div>
            <div class="profile__detailes">
                Followers: {{profile?.followersCount}}
            </div>
            <div class="profile__detailes">
                Following: {{profile?.followingCount}}
            </div>
        </div>
        <div class="profile__follow-button" *ngIf="!owner" (click)="onFollowClick()">{{profile?.followStatus ? 'Following' : 'Follow'}}</div>
    </div>
    <div class="profile__pictures-container-buttons">
    </div>
    <div class="profile__pictures-container">
        <div class="profile__picture-container" *ngFor='let post of profile?.posts'>
            <img class="profile__picture" src={{post}} alt="">
        </div>
    </div>
</div>