<div class="profile">
    <div class="profile__header">
        <div class="profile__profile-img-container">
            <img class="profile__profile-img" src="{{profile?.profileImage}}" alt="profile picture">
        </div>
        <div class="profile__details-container">
            <div class="profile__name-container">
                <h2>{{profile?.name | titlecase}}</h2>
            </div>
            <div class="profile__detailes">
                Followers: 35 
            </div>
            <div class="profile__detailes">
                Following: 10
            </div>
        </div>
    </div>
    <div class="profile__pictures-container-buttons">
        <input type="file" (change)="uploadImage($event)">
        <button>Add picture</button>
        <button>Delete picture</button>
    </div>
    <div class="profile__pictures-container">
        <div class="profile__picture-container">
        </div>
        <div class="profile__picture-container" *ngFor='let post of profile?.posts'>
            <img class="profile__picture" src={{post}} alt="">
        </div>
    </div>
</div>