<div class="form-container form-container--login">
    <form [formGroup]='logInForm' (ngSubmit)="loginSubmit(logInForm)">
        <div class="form-container__input-container">
            <input formControlName="username" class="contact-details-input contact-details-input--username" type="text" placeholder="username">
        </div>
        <div class="form-container__input-container">
            <input formControlName="password" class="contact-details-input contact-details-input--password" type="password" placeholder="password">
        </div>
        <div class="form-container__input-container">
            <button class="wide-animated-button">Sign in</button>
        </div>
        <div class="sign-up-link-container">
            Don't have na account? <a [routerLink]="['/signup']">Create account</a>
        </div>
    </form>
</div>