// colors
//--------
$font-color-main: #444;

$background-color: rgb(247, 247, 247);
$blue-highlight-color: #4dd6ff;
$gray-border-color: rgba(187, 187, 187, 0.596);

$font-family: sans-serif;
$font-weight-bold: 700;
$font-weight-normal: 400;