.auto-dialog-modal {
    padding: 2rem;
    position: fixed;
    height: 10rem;
    width: 40rem;
    background-color: $background-color;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    z-index: 99;
    @include shadow;

    animation: fade-out 0.5s 1;
    animation-delay: 2s;

    @keyframes fade-out{
        from {opacity :1;}
        to {opacity :0;}
    }

    &__text {
        display: block;
        width: fit-content;
        max-width: 80%;
        margin: 2rem auto 2rem auto;
    }
}