.post {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid $gray-border-color;
    border-radius: 5px;
    margin-bottom: 6rem;

    &__header {
        height: 6rem;
        display: flex;

        &-thumbnail {
            display: inline-block;
            height: 4rem;
            width: 4rem;
            margin: 1rem;
            border-radius: 1000px;
            border: 2px solid $gray-border-color;

            &-img {
            }
        }

        &-name {
            display: inline-block;
            height: 100%;
            padding: 2.2rem 0 2.2rem 0.5rem;
        }
    }

    &__body {
        border-top: 1px solid $gray-border-color;
        border-bottom: 1px solid $gray-border-color;

        &-image {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    &__footer {
        min-height: 4rem;

        &-textarea {
            &-container {
                height: 5.3rem;
                padding: 1.6rem;
                background-color: #fff;
                border-top: 1px solid $gray-border-color;
                border-radius: 5px;
                display: flex;
            }

            color: inherit;
            display: inline-block;
            resize: none;
            border: none;
            border-radius: 5px;
            outline: none;
            width: calc(100% - 5rem);
            height: 100%;
            padding: 0;
        }

        &-post-button {
            display: inline-block;
            width: 4rem;
            height: 100%;
            color: rgb(64, 185, 255);
            cursor: pointer;
            
            &:hover {
                color: rgb(0, 105, 224);
            }
        }
    }
}
